* {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h1 {
    background-color: coral;
    color: whitesmoke;
    height: 40px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.choice:hover{
    opacity: 0.75;
}
.choice {
    height: 300px;
    width: 100px;
}

img{
    height: inherit;
    border-radius: 10%;
}

.choices {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}

.score_board {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

#msg{
    background-color: darkorange;
    display: inline;
    color: wheat;
    border-radius: 1rem;
    font-size: 30px;
    padding: 8px;
}

.msg_container{
    margin-top: 20px;
}